<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" data-sly-list.child="${currentPage.listChildren}">
            <li class="${childList.first ? 'active' : ''}">
                <sly data-sly-test="${!child.listChildren}">
					<a href="${child.path}.html">${child.title}</a>
                </sly>
                <sly data-sly-test="${child.listChildren}">
					<a href="${child.path}.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${child.title} <span class="caret"></span></a>
                    <ul class="dropdown-menu" data-sly-list="${child.listChildren}">
                    	<li><a href="${item.path}.html">${item.title}</a></li>
                    </ul>
                </sly>
            </li>
        </ul>
    </div>
</nav>

<div data-sly-use.obj="${'com.org.training.core.use.Title' @ title='from component', desc='some desc'}">
	${obj.title}
    ${obj.desc}
    ${obj.concatenatedStr}
</div> 
