<div class="link-tags-section">
                            <h4>Pages by tags</h4>
                            <p>This describes to get pages by tags using <b>TagManager API</b></p>
                            <ul class="list-unstyled">
                                <li><a href="#" title="click here to view more">Page Link 1</a></li>
                                <li><a href="#" title="click here to view more">Page Link 2</a></li>
                                <li><a href="#" title="click here to view more">Page Link 3</a></li>
                                <li><a href="#" title="click here to view more">Page Link 4</a></li>
                            </ul>
                        </div>